
.search-bar{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-end;
   
}
  
  .search-container {
    position: relative;
    width: 50%;
  }
  
  .search-container input[type="text"] {
    width: 100%;
    padding: 10px 15px 10px 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  .search-container .search-icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    font-size: 20px;
    color: #999;
  }
  